body {
    background-color: #87CEFA;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

h1 {
    color: #4169E1;
    font-size: 4em;
    margin-top: 50px;
}

form {
    margin-top: 30px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 200px;
}

input[type="number"] {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    width: 150px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 50px;
    border: none;
    background-color: #FF69B4;
    color: #FFFFFF;
    cursor: pointer;
    animation: bounce 1s infinite;
}

.result-container {
    margin-top: 50px;
}

h2 {
    font-size: 3em;
    text-align: center;
}

p {
    font-size: 2em;
    text-align: center;
}

@keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
