<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>BMI Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-eBk0wVat0pgJGjj7V3q6BPzUjTp/rLmC4mGZf3v4hvAuIHw4eKzjK1y2lS41nTlWkQZekczOXZqmhhgNv8E1Wg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-eBk0wVat0pgJGjj7V3q6BPzUjTp/rLmC4mGZf3v4hvAuIHw4eKzjK1y2lS41nTl">


</head>
<body>
<h1>BMI Calculator</h1>
<form action="/" method="post">
    <label for="weight">Weight (kg):</label>
    <input type="number" name="weight" required>
    <label for="height">Height (cm):</label>
    <input type="number" name="height" required>
    <input type="submit" value="Calculate">
</form>
{% if bmi %}
<p>Your BMI is {{ bmi }}</p>
{% endif %}
</body>
</html>
